html {
    box-sizing: border-box;
    font-size: 10px;
}

*,*::after,*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: rgb(9, 3, 36);
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    width: 20%;
    margin: auto auto;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    display: block;
    font-size: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.719);
}

.modal {
    width: 70%;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    background: rgb(253, 252, 252);
    margin: auto auto;
    padding: 1rem;
    border-radius: 5px;
    animation-name: slide-down;
    animation-duration: 0.55s;
    animation-timing-function: ease-in;
}

.close-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: rgb(206, 28, 58);
    background: #fff;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    font-size: 1.65rem;
    cursor: pointer;
    transition: transform 0.55s ease-in,
        font-size 0.55s ease-in;
}

.close-modal:hover {
    transform: scale(1.15, 1.15);
    font-size: 1.75rem;
}

.hide-modal {
    display: none;
}

form {
    width: 100%;
    padding: 1rem;
}

form input {
    height: 35px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 1rem 2.5rem;
}

@keyframes slide-down {
    0%{
        transform: translate3d(0, -60px, 0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}